<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ernesto.charmapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.activities.patientActivities.PatientMainActivity" />
        <activity android:name=".presentation.activities.patientActivities.PatientLoginActivity" />
        <activity android:name=".presentation.activities.doctorActivities.DoctorMainActivity" />
        <activity android:name=".presentation.activities.doctorActivities.DoctorLoginActivity" />
        <activity android:name=".presentation.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Vamos a añadir un receiver cada vez que tenga un broadcastReceiver para que se ejecute y lance la notificacion cuando la app esta en segundo plano -->
        <receiver android:name=".data.NotificationReceiver" />

    </application>

</manifest>